# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
web/database
*.db
*.sqlite3
*.log

# venv
env
venv

# other
.DS_Store
.idea
.env


# javascript
package-lock.json

staticfiles/*
!staticfiles/.gitkeep 
.vscode/symbols.json

apps/static/assets/node_modules
apps/static/assets/yarn.lock
apps/static/assets/.temp

